$orangeColor: #E54817;
$blueColor: #19818E;

.landing-container {
    background-image: url('/images/building.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 120vh;
    width: 100vw;
    // top: -100px;
    position: relative;
    // z-index: -5;
    // width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin: 25px;
    
    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 25%;
        height: 140px;
        padding: 20px;

        button {
            width: 200px;
            height: auto;
        }
    }
    .mission {
        width: 75%;
        padding: 20px; 

        h1 {
            text-align: center;
            font-style: italic;
            font-size: 30px;
        }
    }
}

@media (max-width: 450px) {
    .landing-container {
        background-size: auto 250px;
        top: 0;
    }
}