.slider-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
   
  .slider{
    // background: #09d3ac​;
    width:80%;
    height: 100%;
    // border: 1px solid black;
    background-color: white;

    // h2 {
    //     z-index: 3;
    //     font-size: 40px;
    // }
  }
   
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  .slides {
    position: relative;
    // border: 2px black solid;
    border-radius: 5px;
  }
  
  .slides .slick-prev {
    left: 5%;
  }
  
  .slides .slick-next {
    right: 5%;
  }

//   .slide {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//   }