.slider-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
   
  .slider{
    width:70%;
    height: 100%;
    background-color: white;
    z-index: -1;
  }
   
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  .slides .slick-prev {
    left: 5%;
  }
  
  .slides .slick-next {
    right: 5%;
  }


@media (max-width: 804px) {

  .slider {
    width: 100%;
  }
}