$orangeColor: #E54817;
$blueColor: #19818E;

.patient-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;

    section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    

    }

    h1 {
        color: $blueColor;
        margin-bottom: 20px;
        // animation: slideIn ease-in 1s;
    }

    p {
        margin: 0 10%;
        font-size: 20px;
    }

    img {
        margin-top: 20px;;
        width: 20%;
        height: auto;
    }

    a {
        text-decoration: none;
        margin-bottom: 20px;
        cursor: pointer;

        button {
            cursor: pointer;
            font-size: 18px;
        }
        
        .one {
            margin-top: 20px;
            animation: slideRight ease-in .75s;
        }
        .two {
            animation: slideRight ease-in 1s;
        }
        .three {
            animation: slideRight ease-in 1.25s;
        }
    }
}


@media (max-width: 450px) {
    .patient-container {
        button {
            height: 40px;
            width: 200px;
            font-size: 16px;
        }

        p {
            margin: 0;
        }

        img {
            width: 60%;
            height: auto;
        }
    }
}

