$orangeColor: #E54817;
$blueColor: #19818E;

.admin-container {
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: -2;

    h3 {
        text-align: right;
        width: 100%;
        margin-bottom: 10px;
    }

    div {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .feedback {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        padding: 20px 0;
        border-radius: 5px;
        width: 75%;
        margin-bottom: 20px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        h2 {
            margin-bottom: 10px;
        }
    }


.review {
    // border: 1px black solid;
    border-radius: 5px;
    box-shadow:  0px 0px 5px 5px rgb(223, 217, 217);
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 10px;

    h2, p {
        text-align: left;
        font-size: 18px;

    }


    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        
        button {
            margin: 10px;
        }
    }
}
}


@media (max-width:450px) {
    .admin-container {
        background-color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    
        h4 {
            text-align: right;
            width: 100%;
            margin-bottom: 10px;
        }
    
        div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 20px;
        }
    
        .feedback {
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            padding: 20px 0;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 20px;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
    
            h2 {
                margin-bottom: 10px;
            }
        }
    
    
    .review {
        // border: 1px black solid;
        border-radius: 5px;
        box-shadow:  0px 0px 5px 2px rgb(223, 217, 217);
        width: 95%;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        margin: 10px;
    
        h4, p {
            text-align: left;
            font-size: 18px;
        }
     
        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
        }
    
        button {
            width: 60px;
            // padding: 2px;
        }
    }
    }
    button {
        width: 60px;
        border-radius: 5px;
        border: 1px black solid;
    }
}