$orangeColor: #E54817;
$blueColor: #19818E;

.team-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -2;

    h1 {
        margin-top: 20px;
        color: $blueColor;
        text-align: center;
        margin-bottom: 10px;
    }
}

.person {
    display: flex;
    padding: 20px;
    margin: 0 30px;

    article {
        width: 100%;
        height: 100%;
        border: 2px black solid;
        border-radius: 5px;
        margin-left: 40px;
        padding: 30px 30px;

        // with or without box-shadow
        // box-shadow: 0px 0px 4px 2px  gray;

        p {
            font-size: 18px;
        }

        h2 {
            color: $blueColor
        }
    }

    img {
        width: auto;
        height: 350px;
        border: 2px black solid;
        border-radius: 5px;
        // margin-right: 30px;
    }
}

@media (max-width: 920px) {
    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        .person {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
        
            article {
                width: 70%;
                height: 100%;
                border: 2px black solid;
                border-radius: 5px;
                margin: 20px 20px;
                padding: 10px 20px;
        
                p {
                    font-size: 20px;
                }
            }
        
            img {
                width: 40%;
                height: auto;
                border: 2px black solid;
                border-radius: 5px;
            }
        }
    }
}


@media (max-width: 550px) {
    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        .person {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
        
            article {
                width: 90%;
                height: 100%;
                border: 2px black solid;
                border-radius: 5px;
                margin: 20px 20px;
                padding: 10px 20px;
        
                p {
        font-size: 15px;
                }
            }
        
            img {
                width: 70%;
                height: auto;
                border: 2px black solid;
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 450px) {
    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        .person {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            margin-top: 10px;
        
            article {
                width: 100%;
                height: 100%;
                border: 2px black solid;
                border-radius: 5px;
                margin: 20px 20px;
                padding: 10px 20px;

                h4 {
                    font-size: 22px;
                    text-align: center;
                }
        
                p {
                    font-size: 16px;
                }
            }
        
            img {
                width: 80%;
                height: auto;
                border: 2px black solid;
                border-radius: 5px;
            }
        }
    }
}