$orangeColor: #E54817;
$blueColor: #19818E;

.success-container {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;

    h2 {
        text-align: center;
        color: $blueColor;
    }

    div {
        display: flex;
        margin: 10px 40px;
    }
    
    article {
        margin: 8px;

    }

    aside {
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
        margin: 30px;
        // height: 100%;
    }

    img {
        width: 30%;
        height: auto;
    }
}

@media (max-width: 450px) {

    .success-container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 20px;
        }

        aside {
            margin: 20px auto;
        }

        img {
            
            width: 70%;
            height: auto;
            
        }
    }
}