$orangeColor: #E54817;
$blueColor: #19818E;

.covid-container {
    padding: 20px 80px;
    width: 70%;
    h1, h2 {
        color: $blueColor
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 805px) {
    .covid-container {
        width: 100%;
        padding: 20px 40px;
        position: relative;
        z-index: -2;
        p {
            font-size: 17px;;
        }
    }
}

@media (max-width: 450px) {
    .covid-container {
        width: 100%;
        padding: 20px 40px;

        p {
            font-size: 16px;;
        }
    }
}