$orangeColor: #E54817;
$blueColor: #19818E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #fff;
    // background-color: rgb(185, 177, 177);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
    position: relative;

    .left {
        width: 26%;
    }
    
    img {
        width: 100%;
        height: auto;
        margin-left: 20px;
        padding: 5px 0;
    }

    .middle {
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // padding: 0 70px;
        height: 70px;
        margin: auto;
        position: relative;
        right: 20px;

        p {
            color: $blueColor;
            font-weight: bold;
        }
    }

    .hamburger-menu {
        display: none;
    }
}

.right {

       
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        margin: auto 25px;
        
        .links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 10px;
    
            button {
                width: 150px;
                height: 20px;
                margin-top: 5px;
                border-radius: 5px;
                border: 2px black solid;
                cursor: pointer;

                &:hover {
                    background-color: $blueColor;
                    color: #fff;
                }
            }

            .btn-1, .btn-2, btn-3 {
                background-color: lighten($blueColor, 10%);
            }

            .btn-3 {
                background-color: orangered;
                // background-color: lighten($blueColor, 10%);
                // border: $orangeColor solid 2px;

                &:hover {
                    background-color: $orangeColor;
                }
            }
        }

}


.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
    box-shadow: 0 0 40px 40px $orangeColor inset;
}

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }


  








@keyframes slide {
    0%{
        transform: translate(0, -40%);
        opacity: .3;
    }
    70% {
        opacity: .7;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}






@media (max-width: 804px) {

    .header-container {
        background-color: #fff;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 5px 0;
        margin: 30px auto;
        margin-bottom: 0;
        height: 100%;
        position: relative;
        z-index: 3;
    
        .left {
            width: 80%;
            // margin-top:30px;
            img {
                width: 100%;
                height: auto;
                padding-right: 30px;
            }
        }
        
    
        .middle {
            font-size: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px 0;
            padding-left: 35px;
            height: 100%;
            width: 100%;
    
            p {
                color: $blueColor;
                font-weight: bold;
            }
        }
    }
    
    .right {
    
           
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            margin: 0 25px;
            
            .links {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                font-size: 18px;
        
                button {
                    width: 250px;
                    height: 40px;
                    margin-top: 10px;
                    border-radius: 5px;
                    border: 2px black solid;
                    cursor: pointer;
                    font-size: 18px;
    
                    &:hover {
                        background-color: $blueColor;
                        color: #fff;
                    }
                }
    
                .btn-1, .btn-2 {
                    background-color: lighten($blueColor, 10%);
                }
    
                .btn-3 {
                    background-color: orangered;
                    margin-bottom: 30px;
    
                    &:hover {
                        background-color: $orangeColor;
                    }
                }
            }
    
        }

        .nav-section {
            background-color: $blueColor;
            padding: 5px;
            border-top: 2px black solid;
            border-bottom: 2px black solid;
            height: 100%;
            // position: relative;
            // z-index: 2;
        }
    }
    


