$orangeColor: #E54817;
$blueColor: #19818E;

.nav-container {
    width: 100%;
    height: 30px;
    background-color: rgb(82, 79, 79);
    display: flex;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    img {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;
        font-size: 12px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        position: relative;

        li {
            height: 100%;
            color: white;
            transition: .5s;
            border-radius: 5px;
            width: 130px;
            text-align: center;
            margin: auto 5px;
            border: 2px transparent solid;

        }

        li:hover {
            background-color: $blueColor;
            border: 2px black solid;
            padding: 4px 10px;
        }
    }
}



@keyframes dropdown {
    0% {
        transform: translateY()
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY();
    }
}

@keyframes goup {
    0% {
        transform: translateY(350px)
    }
    50% {
        transform: translateY(370px);
    }
    100% {
        transform: translateY(0);
    }
}






@media (max-width: 804px) {

    .nav-container {
        width: 90%;
        height: 55px;
        background-color: rgb(82, 79, 79);
        border: 2px black solid;
        border-radius: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;



        .hamburger {
            margin: 4px auto;
            width: 40px;
          }
          
          .hamburger:after, 
          .hamburger:before, 
          .hamburger div {
            background-color: $blueColor;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .5s ease-in-out;
          }

          .hamburger-x {
            margin: 4px auto;
            width: 40px;
          }
          
          .hamburger-x:after, 
          .hamburger-x:before, 
          .hamburger-x div {
            background-color: $blueColor;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .5s ease-in-out;
          }

          .hamburger-x:before {
            transform: translateY(12px) rotate(135deg)
          }
          .hamburger-x:after {
            transform: translateY(-12px) rotate(-135deg);
          }
          .hamburger-x div {
            transform: scale(0);
          }

        .dropdown {
            background-color: $blueColor;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            border: 2px solid black;
            border-radius: 5px;
            animation: dropdown 1s ease-in-out;
            z-index: 2;
            transition: opacity 1s;
        } 

        .null {
            background-color: $blueColor;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -350px;
            z-index: -1;
            width: 100%;
            border: 2px solid black;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 1s ease-in;
            animation: goup 1s ease;
        }
    
        ul {
            display: none;
    
            li {
                text-align: center;
                height: 100%;
                padding-top: 20px;
                color: white;
                font-size: 18px;
                padding-bottom: 20px;

                &:hover {
                    background-color: none;
                    border: none;
                    padding: none;
                }
            }
        }
    }

}


