$orangeColor: #E54817;
$blueColor: #19818E;

.nav-container {
    width: 100%;
    height: 30px;
    // background-color: rgb(130, 129, 129);
    background-color: rgb(82, 79, 79);
    display: flex;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    img {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;
        font-size: 12px;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
        right: 0;
        width: 55%;

        li {
            height: 100%;
            padding: 5px 10px;
            color: white;
            // border-right: 2px white solid;
            // border-left: 2px white solid;
            // border-radius: 10px;
        }

        li:hover {
            background-color: $blueColor;
        }
    }
}

@keyframes dropdown {
    0% {
        transform: translateY(-200px)
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY();
    }
}

@keyframes goup {
    0% {
        transform: translateY(400px)
    }
    // 50% {
    //     transform: translateY(-250px);
    // }
    100% {
        transform: translateY(-450px);
    }
}

@media (max-width: 804px) {

    .nav-container {
        width: 90%;
        height: 55px;
        background-color: rgb(82, 79, 79);
        border: 2px black solid;
        border-radius: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;

        .hamburger {
            margin: auto;
            width: 100%;
        }
       
        .hamburger-icon {
            height: 30px;
            width: 30px;
            position: relative;
            margin: 10px auto;
            display: block;
        
        }

        .dropdown {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            background-color: $blueColor;
            display: flex;
            flex-direction: column;
            position: relative;
            top: 8px;
            width: 100%;
            border: 2px solid black;
            border-radius: 5px;
            animation: dropdown 1s ease;
            z-index: 0;
        } 

        .null {
            background-color: $blueColor;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -450px;
            z-index: 0;
            // top: 16px;
            width: 100%;
            border: 2px solid black;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 1s;
            animation: goup 3s ease;
        }
    
        ul {
            display: none;
    
            li {
                text-align: center;
                height: 100%;
                padding-top: 20px;
                color: white;
                font-size: 18px;
                padding-bottom: 20px;
            }
        }
    }

}