$orangeColor: #E54817;
$blueColor: #19818E;

.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // padding: 25px;
    margin: 20px 0;
    position: relative;
    z-index: -2;

    h1 {
        color: $blueColor
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
        input {
            width: 300px;
            height: 40px;
            margin: 10px;
            font-size: 18px;
            padding-left: 20px;
        }

        textarea {
            margin-top: 10px;
            width: 620px;
            height: 200px;
            font-size: 18px;
            padding: 20px;
        }

        .btn-div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-right: 20px;
        }

        button {
            margin-top: 15px;
            font-size: 18px;
        }

        img {
            height: 150px;
            width: auto;
        }
    }
}


@media (max-width: 450px) {

    .feedback-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 25px;
        margin: 10px 0;
    
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            padding: 10px 0;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            input {
                width: 100%;
                height: 50px;
                padding-left: 20px;
                font-size: 18px;
                // margin: auto;
            }
    
            textarea {
                width: 100%;
                height: 300px;
                font-size: 18px;
                padding: 20px;
                margin-top: 10px;
            }
    
            .btn-div {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin-right: 20px;
                
            }
    
            button {
                margin-top: 20px;
                font-size: 16px;
            }
    
            img {
                height: 150px;
                width: auto;
            }
        }
    }
}